<div class="container">
    <% blogs.each do |blog| %>
      <p class= "post-title"><%= link_to blog.title, blog_path(blog.slug) %></p>
      <p class= "post-date"><%= blog.formatted_date %></p>
      <p class="post-contents"><%= blog.content.split(" ")[0..50].join(" ") %></p>
      <hr>
    <% end %>
  </table>
</div>
