.landing-screen {
  background-image: url("https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=a4347ae5a5fb1606dbe82e8c81e182b8");
  background-size: cover;
  margin-top: -21px;
  height: 100%;
  width: auto;
}

.landing-text {
  height: 40%;
  background: rgba(255,255,255, 0.7);
  border-radius: 15px;
  display: inline;
  margin-top: 15%;
  color: #6B4C37;
}

.landing-content {
  text-align: center;
  position: relative;
  top: 30%;
  vertical-align: middle;
}

.landing-button {
  background: rgba(255,255,255, 0.7);
  position: absolute;
  margin-top: 15px;
  margin-left: -35px;
  padding: 15px;
  border: 2px solid #6B4C37;
  border-radius: 5px;
  text-decoration: none;
  color: #6B4C37;
}
