.blog-search-form {
  position: absolute;
  top: 45%;
  left: 40%;
  z-index: 5;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  padding-left: 10px;
}

.photo-search-form {
  position: absolute;
  top: 45%;
  left: 40%;
  z-index: 5;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  padding-left: 10px;
}

.new-blog-search {
  position: absolute;
  left: 48%;
  z-index: 5;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  padding-left: 10px;
}

.new-photo-search {
  position: absolute;
  left: 48%;
  z-index: 5;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  padding-left: 10px;
}
